<div class="caixa" >
    <form class="form" #meuForm="ngForm">
            <nav><img src="../../assets/img/logoipsum-297.svg" alt="logo"></nav>
            
            <div class="titulo">
                <h1>Create your account</h1>
                <p>Quickly sign up with your account</p>
            </div>

            <div class="inputs">

                <label for="email">Email</label>
                <input 
                type="email" 
                name="email" 
                id="email" 
                placeholder="input your email here"
                ngModel
                required
                #input
                #email="ngModel"
                >

                <div class="dois-inputs">
                    <div>
                        <label for="FirstName">First name</label>
                        <input 
                        type="text" 
                        name="FirstName" 
                        id="FirstName" 
                        placeholder="John"
                        ngModel
                        required 
                        #FirstName1
                        #FirstName="ngModel"
                        >
                    </div>

                    <div>
                        <label for="LastName" class="label-Last">Last name</label>
                        <input 
                        type="text" 
                        name="LastName" 
                        id="LastName" 
                        placeholder="Doe"
                        ngModel
                        required
                        #LastName1  
                        #LastName="ngModel"                                              
                        >

                    </div>
          
                </div>

                <label for="password">Password</label>
                <div>
 
                    <input 
                    [type]="passwordFieldType"
                    name="password" 
                    id="password" 
                    placeholder="Input password"
                    ngModel
                    required
                    #input2
                    #password="ngModel">


                    <img class="toggle-password" (click)="togglePasswordVisibility()"
                    [src]="passwordFieldType === 'password' ? '../../assets/img/show-solid-24.png' : '../../assets/img/hide-solid-24.png'"
                    alt="Toggle Password Visibility">

                </div>

                <label for="ReTypePassword">Re-type password</label>
                <div>
                    <input 
                    [type]="ReTypePasswordvisible"
                    name="ReTypePassword" 
                    id="ReTypePassword" 
                    placeholder="Re-Type your password"
                    ngModel
                    required 
                    #ReTypePassword1
                    #ReTypePassword="ngModel"                
                    >
                    
                    <img  class="toggle-password2" (click)="togglePasswordVisibility2()"
                    [src]="ReTypePasswordvisible === 'password' ? '../../assets/img/show-solid-24.png' : '../../assets/img/hide-solid-24.png'"
                    alt="Toggle Password Visibility">
                </div>

            </div>

            <div class="inputCheck">
                <div class="checkbox">
                    <div>
                        <input type="checkbox">
                        <p>I accept the</p>
                    </div>
                    <a href="#">terms</a><p>and</p><a href="#">privacy</a>
                </div>
            </div>

            <div #div></div>

            <div class="button-login" #buttonlogin>
                <button class="button" (click)="send()">Get Started</button>
            </div>

            <div class="linha">
                <hr class="hr1">or<hr class="hr2">
            </div>

            <button class="google"><img src="../../assets/img/logotipo_da_empresa_google.jpg" alt="google">Continue with Google</button>
            <button class="facebook"><img src="../../assets/img/facebook.jpg" alt="facebook"><p>Continue with Facebook</p></button>
    </form>
    <div class="caixa-esquerda">
        <h2>Join over 62,000 + Digital marketer</h2>
        <h2>and business owners around the world</h2>
        
        <div>
            <p>One morning, when Gregor Sansa woke from troubled dreams, he</p>
            <p>found himself transforme in his bed into a horrible vermin.</p>
        </div>
    </div>
</div>





<!-- 
    <div>
        email = {{meuForm.value.email}}
    </div>
                <div *ngIf="email.touched && email.dirty">
                    <p *ngIf="email.invalid">*email necessário</p>
                </div>

            <div *ngIf="LastName.dirty">
                <div *ngIf="LastName.value != email">error</div>
            </div>
-->