.caixa {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(192, 232, 255);

    .form {
        height: 95%;
        width: 40%;
        border: solid 1px #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        font-size: 12px;

        nav {
            display: flex;
            align-items: center;
            margin-top: 10px;
            width:  68%;

            img {
                height: 30px;
                width: 120px;
            }
        }

        .titulo {
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
            text-align: start;
            margin-top: 12px;
            width: 68%;

            p {
                color: #999;
                margin: 0;
                width: 100%;
            }

            h1 {
                font-weight: bold;
                width: 100%;
            }
        }

        .inputs {

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 68%;

            input {
                padding: 5px;        
                height: 40px;
                width:  100%;
                border-radius: 3px;
                border: solid 1px #9994;
                box-shadow: 0 2px 10px 1px #9994;
                background-color: #fff; 
            }

            label {
                width:  100%;
                margin-top: 10px;
            }

            div {
                width:  100%;
            }

            .dois-inputs {

               display: flex;
               
               div {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;

                    width: 50%;

                    label {
                        width: 97%;
                    }

                    .label-Last {
                        margin-left: 8px;
                    }


               }
                
               #FirstName {
                width: 97%;               
                }

               #LastName {
                width: 97%;               
                align-self: flex-end;
               }


            }
        }   

        .inputCheck {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            width: 68%;


            .checkbox {
                display: flex;
                align-items: center;
                text-align: start;
                width:  278px;

                div {
                    display: flex;
                    align-items: center;
                    p {
                        margin-left: 15px;
                        margin-right: 4px;
                    }
                }

                p {
                    margin: 0 4px;
                }
                    
            }
        
            input {
                height: 20px;
                width: 20px;
                box-shadow: 0 2px 10px 1px #9994;

            }


        }

        button {
            height: 40px;
            width:  68%;
            border-radius: 7px; 
            border: solid 1px #9994;  
            color: #999;
     
        }
        .button-login {
            margin-top: 25px;
            width:  68%;
        }

        .button {
            background-color: rgb(25, 132, 255);
            color: #fff;
            font-size: 15px;   
            width: 100%;
        }

        .google {
            display: flex;
            align-items: center;
            border: solid 1px #9994;
            background-color: #fff;

           img{

            margin-right: 35px;
            height: 20px;
            width: 19px;
            margin-left: 15px;           
            }
        }

        .facebook {
            margin-top: 10px;
            display: flex;
            align-items: center;
            border: solid 1px #9994;
            background-color: #fff;


           img {
            margin-right: 26px;
            height: 26px;
            width: 25px;
            margin-left: 12px;           
           }
        }

        .paragrafo {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #999;
            margin-top: 30px;
        }

        a{
            color:rgb(53, 147, 255);
            text-decoration: none;
        }

    }

    .caixa-esquerda {
        height: 95%;
        width: 50%;
        background: linear-gradient(130deg, rgb(53, 147, 255), rgb(53, 147, 255), rgba(134, 94, 186, 0.188), rgba(174, 115, 252, 0.188),  rgb(116, 227, 255), rgb(116, 255, 255));  

        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;

       h2:nth-child(1) {
        margin-top: 20%;
       }

       h2:nth-child(2) {
        margin-bottom: 40px;
       }

       div {
        p {
            font-size: small;
            text-align: center;
        }
       }

    }



}

.linha {
    margin: 15px 0;
    display: flex;
    width:  68%;
    align-items: center;
    justify-content: space-evenly;
    color: #999;

    .hr1 {
        width: 43%;
    }
    .hr2 {
        width: 43%;
    }
}

.div {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 48%, rgba(0,212,255,1) 100%);
}

.error {
    color: red;
    width:  68%;
    text-align: start;
    margin: 5px 0;
}

.acerto {
    color: blue;
    width:  278px;
    text-align: start;
    margin: 5px 0;
}



.toggle-password {
    position: absolute;
    top: 46.5%;
    left: 35%;
    transform: translateY(-50%);
    cursor: pointer;
}


.toggle-password2 {
    position: absolute;
    top: 56.3%;
    left: 35%;
    transform: translateY(-50%);
    cursor: pointer;
}