<div class="caixa">
    <form class="form" #meuForm="ngForm">
            <nav><img src="assets/img/logoipsum-297.svg" alt="logo"></nav>
            
            <div class="titulo">
                <h1>Forgot Password</h1>
                <p>Please select option to send link reset password</p>
            </div>

            <div class="inputs">
                <div class="reset" #reset1 id="reset1" (click)="reset('reset1')">
                    <div class="reset__interno">
                        <div class="reset__interno-redondo">
                            <img src="assets/img/mail-send-regular-24.png" alt="" >
                        </div>
                        <div>
                            <h2>Reset via email</h2>
                            <p>link reset will be send to your email address registered</p>
                        </div>
                    </div>

                </div>

                <div class="reset" id="reset2" (click)="reset('reset2')" >
                    <div class="reset__interno auxiliar">
                        <div class="reset__interno-redondo">
                                <img class="img2" src="assets/img/comment-detail-solid-24.png" >
                        </div>
                        <div>
                            <h2>Reset via message</h2>
                            <p>link reset will be send to your registered phone number</p>
                        </div>
                    </div>
                </div>
            
            </div>

            <div class="button-login" #buttonlogin>
                <button class="button" (click)="send()">send link</button>
            </div>


            <p class="paragrafo">Didn´t receive link?  <a href="#"> resend</a></p>

    </form>
    <div class="caixa-esquerda">
        <h2>Join over 62,000 + Digital marketer</h2>
        <h2>and business owners around the world</h2>
        
        <div>
            <p>One morning, when Gregor Sansa woke from troubled dreams, he</p>
            <p>found himself transforme in his bed into a horrible vermin.</p>
        </div>
    </div>
</div>
