.caixa {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(192, 232, 255);

    .form {
        height: 90%;
        width: 40%;
        border: solid 1px #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fff;

        nav {
            display: flex;
            align-items: center;
            margin-top: 30px;
            width: 90%;
            
            img {
                height: 30px;
                width: 120px;
            }
        }

        .titulo {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: start;
            margin-top: 40px;
            width: 90%;

            p {
                color: #999;
                margin: 0;
                width: 100%;
            }

            h1 {
                font-weight: bold;
                width: 100%;            
            }
        }

        .inputs {

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 90%;
           
            .reset {
                border: solid 1px #9994;
                border-radius: 5px;
                margin-top: 40px;
                display: flex;
                padding: 0 0 0 11px;
                
                height: 100px;
                width: 100%;

                &__interno {
                    display: flex;
                    padding: 20px 0px;
                    height: 100%;
                    width: 298px;
                    margin-right: 10px;
                    cursor: pointer;

                    &-redondo {
                        position: relative;
                        left: -8px;
                        height: 70px;
                        width: 80px;
                        background-color: #cdcdcd73;
                        border-radius: 100%;

                        
                        .img2 {
                            position: relative;
                            left: 10%;
                            top: 25%;
                            width: 80%;
                            height: 50%;
                        }

                    }

                    img {
                        position: relative;
                        left: 4%;
                        top: 25%;
                        width: 87%;
                        height: 50%;
                    }

                    div {
                        margin-left: 10px;

                        h2 {
                            font-size: 20px;
                        }
                        
                        p {
                            font-size: 15px;
                        }
                    } 
                }

                &__checkbox {
                    width: 35px;
                    height: 35px;
                    align-self: center;
                    border: solid 1px rgb(255, 0, 0);
                    
                }
            }
            .border {
                border: solid 1px blue;
            }

        }   
 
        #divDois {
            margin-top: 15px;

            div {
                width: 325px;

            }
        }


        button {
            height: 40px;
            width: 371.5px;
            border-radius: 7px; 
            border: solid 1px #9994;  
            color: #999;
     
        }
        .button-login {
            margin-top: 40px;
            width: 90%;
        }

        .button {
            background-color: rgb(25, 132, 255);
            color: #fff;
            font-size: 15px;  
            width: 100%; 
            cursor: pointer;
     
        }

        .paragrafo {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #999;
            margin-top: 30px;
        }

        a{
            color:rgb(53, 147, 255);
            text-decoration: none;
        }

    }

    .caixa-esquerda {
        height: 90%;
        width: 50%;
        background: linear-gradient(130deg, rgb(53, 147, 255), rgb(53, 147, 255), rgba(134, 94, 186, 0.188), rgba(174, 115, 252, 0.188),  rgb(116, 227, 255), rgb(116, 255, 255));  

        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;

       h2:nth-child(1) {
        margin-top: 20%;
       }

       h2:nth-child(2) {
        margin-bottom: 40px;
       }

       div {
        p {
            font-size: small;
            text-align: center;
        }
       }

    }



}
